.DS_Store
.idea/
*.iml
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.gradle/
**/build/
coverage/
android/local.properties
local.properties
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
captures/
*.jks
*.keystore
*.p12
*.mobileprovision
xcuserdata/
DerivedData/
*.xcresult
Secrets.xcconfig
